<?php

return [
    'mxdimodule' => [
        /* AnnotationExtractor is the default extractor. Uncomment to change */
        //'extractor'         => mxdiModule\Service\YamlExtractor::class,
        //'extractor_options' => ['file' => __DIR__ . '/../path.to.yml'],

        /* Proxy directory for generated proxy files. Uncomment to change */
        //'proxy_dir'     => 'data/mxdiModule',

        /* Proxy namespace. Uncomment to change */
        //'proxy_namespace' => 'mxdiModuleProxy',

        /* ZF2 cache adapter FQCN. Uncomment to change */
        //'cache_adapter' => 'memory',

        /* Additional adapter options. Uncomment to change */
        //'cache_options' => [],

        /* Services to avoid in the Abstract Factory. Will be avoided if set to true */
        'avoid_service' => [
            // service name => true|false
        ],
    ],
];
